body{
    background-color: #EEEEEE;
}

.agenda-grid{
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente no centro */
    margin-bottom: 10px; /* Espaçamento entre o header e a tabela */
}

.agenda-table{
    max-height: 70vh; /* Define a altura máxima do contêiner, ajuste conforme necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem se a tabela exceder a altura máxima */
    background-color: #D9D9D9;
    border-radius: 5px;
}

table{
    width: 100%;
    border: 1px solid #C2C2C2;
    border-collapse: collapse;
}

thead{
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tr{
    display: table-row;
}

thead > * > th {
    padding: 20px 10px 20px 10px;
    font-size: 30px;
}

th{
    font-size: 25px;
    border: 1px solid #C2C2C2;
    height: 20px;
    padding: 10px;
}

th:nth-child(1), th:nth-child(3){
    width: 25%; /* Proporção 1 */
}

th:nth-child(2){
    width: 50%; /* Proporção 2 */
}

.clientName{
    text-align: left;
}